<footer>
    <div class="footer-content">
        <h3>Wheather App</h3>
        <h6>Shekhar Mehta</h6>
        <div class="footer-socials">
            <a href="https://www.linkedin.com/in/shake-her/" target="_blank">LinkedIn</a>
            <a href="https://github.com/Shake-Her" target="_blank">GitHub</a>
            <a href="https://myanimelist.net/profile/Shake-Her" target="_blank">MyAnimeList</a>
        </div>
        <small>G-mail :- shekharmehta000010@gmail.com</small>
    </div>
</footer>