<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>

    <div class="container">

    {{>header}}
    
    {{>navbar}}
    
    {{>maincontent}}
    
    {{>footer}}


    </div>

    <script src=""></script>
</body>

</html>